
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='main-pic'>
        <img src='http://www.starmarket.com/wp-content/uploads/2014/03/Cheese-Deli14.jpg'/>
      </div>
    </div>
  </div>
</div>
